<h1>Dashboard</h1>
<%= link_to('Logout', destroy_user_session_path) %><br>        
<%= link_to "Change your email and/or password", edit_user_registration_path %>

<%= link_to "Create New Meta-Event", new_meta_event_path %>
